# 이미지
NGINX_IMG_NAME=nginx
NGINX_IMG_TAG=1.28.0-alpine

# 도메인 (SSL 경로 및 server_name에 사용)
DOMAIN=example.com

# 연결할 서버 주소
WS_HOST=web-server
WS_PORT=3000
API_SERVER_HOST=api-server
API_SERVER_PORT=8080